<!DOCTYPE html>
<html>
<head>
<!-- Load c3.css -->
<link href="libs/c3-0.4.11/c3.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
<script src="libs/d3-3.5.6.js"></script>
<script src="libs/c3-0.4.11/c3.min.js"></script>
<script src="libs/jquery.min.js"></script>
<!-- Load Angular js -->

<script src="libs/angular/angular.min.js"></script>

<link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="libs/custom/style.css">
<!-- Load custom js file -->
<script src="libs/scripts/core.js">
</script>

</head>
<body >
    
  <div class="left-navigation">
    <ul class="nav">
        <li class="active"><a href="#">Level 1-1</a></li>
        <li><a href="#">Level 1-2</a></li>
        <li><a href="#">Level 1-3</a></li>

    </ul>
 </div>
  

<nav style="position: relative;left: 50px;">
    <div class="topNavBtn"><span><i class="fa fa-compass" aria-hidden="true"></i> Explore</span></div>
    <div class="topNavBtn active"><span><i class="fa fa-search" aria-hidden="true"></i> Query</span></div>
    <div class="topNavBtn"><span><i class="fa fa-bar-chart" aria-hidden="true"></i> Compare</span></div>
    <div class="topNavBtn"><span><i class="fa fa-upload" aria-hidden="true"></i> Upload</span></div>
</nav>
   
<div class="pageSection"  ng-app="demoapp" ng-controller="chartwithTabController">
    <div class="leftSection">
        <div class="innerSect">
            <span ng-bind="typeLabel"></span>
            <select ng-model="selectedName" ng-options="iterator for iterator in typeList"></select>
        </div>
        <div>
           <select class="querydropdown" ng-model="queryParameter" ng-options="iterator for iterator in queryList" placeholder="Select to Add Query parameter"></select>
        </div>
        <div class="processSection">
            <div>All Inputs</div>
            <div>All Outputs</div>
            <div>Clear</div>
        </div>
        <input type="button" value="Query" class="queryBtn" ng-click="_queryClick()">
    </div>
    <div class="rightSection">
        <div class="top"><p ng-bind="querySectionLabel"></p></div>
        <div class="bottom" id="chartSection"></div>

    </div>
</div>
    
    <div id="chart"></div>

</body>
<script>




</script>
</html>